<h1>Hello!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li>
    <a href="https://get.asp.net/">ASP.NET Core</a> and
    <a href="https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx">C#</a> for
    cross-platform server-side code
  </li>
  <li>
    <a href="https://angular.io/">Angular</a> and
    <a href="http://www.typescriptlang.org/">TypeScript</a> for client-side code
  </li>
  <li>
    <a href="http://getbootstrap.com/">Bootstrap</a> for layout and styling
  </li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li>
    <strong>Client-side navigation</strong>. For example, click
    <em>Counter</em> then <em>Back</em> to return here.
  </li>
  <li>
    <strong>Angular CLI integration</strong>. In development mode, there's no
    need to run <code>ng serve</code>. It runs in the background automatically,
    so your client-side resources are dynamically built on demand and the page
    refreshes when you modify any file.
  </li>
  <li>
    <strong>Efficient production builds</strong>. In production mode,
    development-time features are disabled, and your
    <code>dotnet publish</code> configuration automatically invokes
    <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript
    files.
  </li>
</ul>
<p>
  The <code>ClientApp</code> subdirectory is a standard Angular CLI application.
  Also, there is a service worker running. If you open a command prompt in that
  directory, you can run any <code>ng</code> command (e.g.,
  <code>ng test</code>), or use <code>npm</code> to install extra packages into
  it.
</p>
<p></p>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi quis minus quo recusandae molestiae ipsam amet
asperiores architecto! Expedita sit corrupti eos? Molestias voluptas dolorem architecto molestiae rerum sequi
accusantium.
Assumenda ipsa omnis non doloremque amet quaerat iste voluptas odio laboriosam quasi quod est vel a eum, itaque at
corporis ratione mollitia unde nesciunt quisquam dolore similique tempore tenetur. Corrupti.
Officiis explicabo iure doloremque enim tempora, consequuntur modi vel ducimus quo libero laborum, unde maxime? Aliquid
inventore pariatur quia eos quisquam nostrum, neque consequuntur ducimus modi accusamus assumenda soluta voluptate.
Molestias voluptas molestiae praesentium nemo inventore ipsum mollitia dignissimos voluptatem repudiandae ratione.
Neque, inventore culpa sequi iste facere temporibus. Consequatur et facilis repudiandae distinctio alias. Minima
adipisci totam voluptatibus commodi.
Quasi numquam explicabo reprehenderit autem rerum, adipisci minima placeat ipsam aut in! Amet quis mollitia minima
accusamus aperiam dicta? Pariatur suscipit dicta fuga corrupti rerum aut neque assumenda quasi alias?
Veniam, cum! Quae sapiente facilis magni et ad excepturi accusamus laudantium beatae natus fugiat esse, eum distinctio
atque vitae harum fuga molestias? Distinctio, quos ratione similique iure reiciendis molestiae aspernatur!
Tenetur dolorum modi sapiente consectetur amet consequuntur, praesentium ea beatae consequatur voluptatibus nemo
similique esse veritatis velit, eaque dolor sint quo neque illo ipsum aut voluptas? Tempore inventore maxime corrupti?
Reiciendis exercitationem, corporis optio porro velit commodi id aut, officia perferendis quae corrupti iste hic neque
nisi, similique quasi nam explicabo officiis omnis nulla. Repellendus commodi dolor officia quia labore.
Eligendi, tenetur soluta minus reiciendis inventore, facilis dolores repellat quos omnis distinctio obcaecati esse ad,
culpa quam cupiditate? Repellendus sint optio eligendi obcaecati quidem minus voluptates laboriosam est odio
perferendis!
Sit quis mollitia tempora natus nam quasi aliquid eius culpa fugit corporis eveniet vel, a omnis exercitationem,
ratione, ex quam eligendi quod! Id, iure ipsa? Fugit voluptatum impedit magnam consequuntur.
Quisquam saepe veniam tenetur, dolorem accusamus eum, aut in, cumque illo impedit totam. Perferendis non nisi, eveniet
cumque quos recusandae, doloribus error dolor et debitis aliquam pariatur fugiat sapiente deserunt.
Non impedit iure quod voluptate dignissimos eveniet reprehenderit temporibus, vel nostrum obcaecati explicabo pariatur,
cumque exercitationem veritatis inventore qui necessitatibus enim ipsa doloribus quasi aspernatur? Perspiciatis neque
voluptates mollitia sapiente?
Reprehenderit velit voluptate iusto quis, vero delectus aut. Asperiores in delectus ut ad consequuntur, doloremque amet
numquam, saepe eum aliquid repellat voluptate voluptates quisquam obcaecati nobis blanditiis voluptatem accusantium
quae.
Distinctio rem quam mollitia cum sint blanditiis quidem voluptatum, nihil esse in corporis veniam reiciendis molestiae
nostrum neque quisquam accusamus reprehenderit repellat libero dolores! Distinctio, animi harum? Molestiae, eum animi?
Hic culpa reiciendis reprehenderit veritatis in quidem deleniti cum commodi libero modi temporibus quo cupiditate
laborum itaque illo quos inventore repellendus, error quasi natus dignissimos laudantium atque. In, expedita soluta?
Sint, obcaecati consequatur! Accusantium inventore ducimus deserunt harum voluptate fuga quasi quos ea unde odit esse
incidunt officia fugiat, ratione ad molestias hic vero temporibus obcaecati. Fugiat adipisci non iste.
Accusantium, explicabo vel vero illo eum aperiam fuga beatae consectetur neque exercitationem? Atque molestiae hic alias
quod modi impedit mollitia quas blanditiis. Sed, id sint ut tempora atque repudiandae ad?
Provident aliquid explicabo voluptatibus veritatis voluptatem esse, perspiciatis fuga perferendis minus adipisci eum
ullam. Tempora, corrupti odit repellat iusto eveniet illum voluptatum, ab labore, sit laudantium fugiat soluta.
Pariatur, architecto.
Consectetur impedit fugit autem provident, alias repellendus officiis maiores quae dignissimos veniam veritatis maxime
mollitia ut repellat, facilis fuga neque cumque corrupti sint ipsum consequuntur, repudiandae asperiores. Recusandae,
vitae repellat.
Voluptatum facilis non ex quaerat, dolore sapiente delectus blanditiis id similique, ut ipsa vel. Consequuntur
consectetur, repudiandae quibusdam doloribus vitae commodi quaerat reiciendis nihil accusamus natus aliquam! Omnis, sit
ut!
Tenetur deleniti numquam rem ex ducimus, facere nulla corporis aspernatur quibusdam quo, optio blanditiis cum in
excepturi alias sunt tempore iusto iste. Quidem deleniti error reiciendis doloremque rem beatae magni.
Vitae deserunt repellendus placeat sed, non quisquam suscipit officia exercitationem voluptate incidunt, aperiam ex?
Eaque fugiat optio atque repellendus nobis harum quidem ex soluta quibusdam amet? Fugit, totam debitis! Ipsam?
Quaerat nesciunt quasi aliquid incidunt quia error, magnam officiis asperiores fugiat et, porro aut quibusdam rerum.
Quisquam iusto vel quas, mollitia dolorum at dicta fugit facilis commodi nulla porro! Possimus?
Libero sunt, tenetur enim, dolorem sed animi modi a ipsam molestiae perferendis eos porro dicta odio debitis sit dolores
similique corporis tempore ratione quidem. Natus vitae fuga repellat tempore autem?
Odit vero aspernatur aliquid, obcaecati provident voluptatibus laboriosam est consequatur repellendus nesciunt excepturi
quaerat possimus. Blanditiis cum temporibus inventore totam. Consectetur minima laboriosam dicta expedita architecto
deleniti doloribus quas dolorem?
Nobis qui alias provident commodi. Similique nemo nulla possimus. Incidunt blanditiis at, dolores commodi, ut aut
ducimus, unde libero voluptate illo alias temporibus? Esse temporibus obcaecati culpa officiis, aliquam ea.
Et dolor facilis cum perspiciatis explicabo! Quas, similique culpa laborum sapiente unde mollitia doloremque beatae
explicabo distinctio excepturi commodi, aut deleniti consectetur nobis a numquam libero corrupti, temporibus tempore
veritatis.
Eum sit praesentium, cumque quo reiciendis temporibus voluptate illum et enim rerum eaque iure porro ipsam odio vel
blanditiis rem ab officia earum beatae. Nihil earum natus adipisci modi facilis?
Nam minus facilis omnis itaque consequatur modi optio ab dignissimos aut? Eum magnam, itaque non fuga suscipit
architecto fugit aliquid commodi iste velit! Ratione quam, nihil et dolorem laboriosam expedita.
Repudiandae temporibus tempore esse alias totam dolorum doloremque asperiores doloribus velit optio ipsam nisi nostrum
magni atque aliquam, accusamus, beatae vitae minima nemo commodi repellendus, corrupti dolorem. Laborum, libero nam.
Exercitationem, vero, ut a quis voluptas ab reprehenderit rerum perspiciatis qui quae magnam dolor quod pariatur eum,
consequuntur repudiandae fugit nisi amet doloremque sint odio? Dolores enim magni sit ipsam.
Ratione autem quasi sunt vel sint magnam reiciendis sequi aut illo sapiente, soluta porro, qui magni sit a ad.
Temporibus magni quod, facere illum voluptas beatae. Voluptates reiciendis illum nam!
Fugit, neque voluptatem dicta illum aliquid atque commodi incidunt nam vitae id reiciendis. Laudantium voluptates
dolores sapiente esse, cumque voluptatum deleniti nostrum, tempora voluptas rem cupiditate minus magni quis tenetur?
Quia, accusamus excepturi. Voluptatibus, ipsum praesentium assumenda cumque blanditiis rem. Quos voluptatibus nostrum
ratione voluptas dignissimos quaerat expedita? Eum sint unde ipsum ducimus dolores et aliquid veritatis alias obcaecati
libero!
Delectus voluptates assumenda mollitia similique dolorem ad vel molestiae numquam dolor. Soluta adipisci vero est
aliquam doloribus quasi molestiae sed dicta beatae ducimus! Incidunt, assumenda quis? Provident ea excepturi odit.
Velit, alias. Qui vel praesentium quisquam? Dolores sunt veritatis autem rem saepe aliquid corrupti, facere blanditiis
voluptatibus voluptatem iusto totam magnam cum unde deserunt quia temporibus vero sit suscipit nisi.
Odio modi quae a harum, atque nam libero quaerat commodi soluta, dolorum rem facilis doloremque! Neque amet accusantium
quidem quasi molestiae consequuntur voluptate. Natus velit placeat commodi doloremque exercitationem optio!
Ab animi ad cupiditate consequatur, dolorum tempora aliquam! Iusto, itaque nisi dolore eum praesentium reiciendis
cupiditate suscipit, cum consectetur ipsam in similique temporibus modi voluptatibus aspernatur, magnam quo molestiae.
Quas?
Dicta soluta libero, tempora architecto hic et repellendus, ipsam optio totam voluptatum, minus voluptate fugiat!
Voluptatibus est vitae earum animi, eaque deserunt, iure non beatae eos, quisquam voluptates expedita error!
Aliquam ad, voluptates, totam perspiciatis quaerat cum rem vero earum nostrum inventore asperiores, optio vitae
aspernatur animi unde natus laboriosam molestiae nesciunt similique illo. Repudiandae sapiente ad sunt illum
consectetur.
Repudiandae quaerat porro cumque sint quod possimus reiciendis error at aliquid nisi non illo laudantium, tenetur
delectus eum commodi vitae nobis explicabo cum cupiditate dolorem ratione! Culpa maiores quis eius!
Mollitia, assumenda quia dolor ipsa optio esse quam, iste perspiciatis, consequuntur expedita dolore ad alias?
Temporibus unde dolor autem assumenda fuga similique adipisci, vel dolores ex vitae, fugit illum eligendi!
Obcaecati blanditiis alias ducimus nesciunt sapiente illum nemo! Consequuntur necessitatibus nihil consequatur id ex
libero odio quibusdam. Natus tempore quae corporis delectus quidem? Quo aperiam repellendus necessitatibus sequi
temporibus dignissimos.
Perferendis doloribus quas omnis corporis quia quos vero aliquam culpa, labore amet nam excepturi a praesentium iure
nesciunt nostrum architecto alias! Veniam, distinctio quos eum neque aperiam dicta necessitatibus dignissimos.
Dicta deleniti expedita aut vel ipsa, incidunt qui, reiciendis ipsum tenetur perspiciatis quam? Minus corporis cum
earum, nostrum officia deserunt, voluptatum eos culpa unde esse architecto. Recusandae, deleniti laboriosam. Vel.
Et iure fuga ducimus, unde ex magni culpa voluptatum. Possimus dicta in quidem molestias labore eligendi reprehenderit
quasi voluptate laborum maiores autem beatae sequi quo vitae provident, esse quisquam nesciunt.
Aperiam recusandae voluptates ullam enim atque cum! Laudantium accusantium quidem ea in tempore maiores! Mollitia odit
nemo quae doloribus. Dicta incidunt nemo facere quis repellat placeat reiciendis dolore neque quae!
Quod ipsam iusto consectetur corrupti reiciendis laudantium dolorum. Id culpa, excepturi quasi, iure assumenda ipsa
dolor iste dolorem ipsam libero ad, beatae ipsum debitis aliquid exercitationem minus veritatis quae eum!
Et soluta recusandae, officiis hic tempora modi alias eum, consectetur neque ipsa, corporis veniam? Aut molestias eos
necessitatibus, amet explicabo error maxime deserunt sequi dolore illum, esse, nisi neque minima?
Ex itaque asperiores praesentium aliquid ut distinctio? Obcaecati voluptas odio numquam veritatis, aliquid dolores ad
culpa sint rerum modi ratione, neque quidem distinctio maiores possimus necessitatibus sequi consequuntur praesentium
deserunt.