<div class="area"></div>
<nav class="main-menu">
  <ul>
    <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link text-dark" [routerLink]="['/']">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          Home
        </span></a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/counter']">
        <i class="fa fa-dot-circle-o fa-2x"></i>
        <span class="nav-text">
          Counter
        </span></a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/fetch-data']">
        <i class="fa fa-globe fa-2x"></i>
        <span class="nav-text">
          Fetch data
        </span></a>
    </li>
  </ul>

  <ul class="logout">
    <li>
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
          Logout
        </span>
    </li>
  </ul>
</nav>
